.footer {
    display: flex;
    gap:10%;
    background-color: #fff;
}

.footer-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-left h3, .footer-copyright{
    color : #000;
}

.footer-left h3{
    font-family: "BaskervilleBoldBT";
    color : #018546;
    font-size: 32px;
    margin: 20px 0 0 0;
}

.footer-copyright{
    padding: 10px;
    text-align: center;
    font-family: "BaskervilleBT";
}

.footer__content{
    width: 100%;
}

.footer-social img {
    width: 40px;
    height: 40px;
}

.footer-left p{
    color: #000;
    margin: 0;
    font-family: "BaskervilleBT";
}

.footer-description{
    margin-left: 20px;
}

.footer-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 150px;
    padding-top: 30px;
}

.footer-socials {
    margin: 30px 0;
}

.footer-social {
    margin-right: 10px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column h4 {
    margin-bottom: 10px;
    color: #000;
    font-weight: 800;
}

.footer-column a{
    color: #000;
    text-decoration: none;

}

@media screen and (max-width:940px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        position: static;
        gap: 20px;
    }

    .footer-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-right{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .footer-logo{
        display: flex;
        margin: 0;
        padding: 0;
    }

    .footer-social img {
        width: 30px;
        height: 30px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}