.textdescbutton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.textdescbutton p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.textdescbutton__btn{
    margin-top: 5%;
}

.textdescbutton__paragraph{
    font-family: "BaskervilleBT";
}


@media screen and (max-width:940px) {
    .textdescbutton{
        width: 100%;
        justify-content: center;
        align-items: center !important;
        font-family: "BaskervilleBoldBT";
    }

    .textdescbutton p{
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }
}